{% extends 'app.html' %}

{% block title %} {% endblock %} 
 
{% block content %} 
<head>
    <style>
        .navbar {
              margin: auto;
              color:#99ffe6;
          }
        tbody, td, tfoot, th, thead, tr { 
               border-color: null;
         }
         
        .spinner-border{ 
            height:20px;
            width: 20px;
        }
         
    </style>

</head>


<!-- Navbar -->
<div>
    <nav class="navbar bg-black">
          <div class="navbar" >
              <h3> OPTIONS PRICER <h3>
          </div>
    </nav>  
</div>

 
<div class="container-fluid py-4">
  <!-- Option input table -->
     <div>
          <div class="row">
                <div class="col-2">
                   <input type="text" class="form-control" id="ticker_data" placeholder="Ticker" required>
                </div>
                <div class="col-8">
                   <button type="button" class="btn btn-outline-dark btn-md" id="Ticker_search_button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing ">Search</button>
                </div>
                <div class="col">
                    <input type="text" style="width:100%" style="float: right" class="form-control" id="market_spot_input" placeholder="Market spot" required>
                </div>
                <div class="col">
                    <input type="button" class="btn btn-outline-success" id="add_more_item" style="float: right" value="Add New"> 
                </div>
           </div>
    </div>      
</div>            
    <div class="container-fluid py-1">       
        <form method="POST"  id='postForm'>   
              <Table class="table table-striped" id="datatable" > 
                  <thead >
                       <tr >
                           <TH style="Text-align: center;">MULTIPLE </Th>
                           <TH style="Text-align: center;"> TICKER </Th>
                           <th style="Text-align: center;">OPTION ZONE</th>
                           <th style="Text-align: center;">OPTION TYPE</th>
                           <th style="Text-align: center;">EXPIRY</th>
                           <th style="Text-align: center;">SPOT </th>
                           <th style="Text-align: center;">STRIKE </th>
                           <th style="Text-align: center;">LISTS OF STRIKES </th>
                           <th style="Text-align: center;">VOLATILITY</th>
                           <th style="Text-align: center;">INTEREST</th>
                           <th style="Text-align: center;">BID VOL</th>
                           <th style="Text-align: center;">BID</th>
                           <th style="Text-align: center;">ASK</th>
                           <th style="Text-align: center;">ASK VOL</th>
                           <th style="Text-align: center;">EDIT </th>
                           <th style="Text-align: center;">DELETE</th>
                      </tr>
                   </thead>
                   <tbody id="table_body">
                       <tr id="tr_row">
                               <td> <input type="Number" id="Multiple" class="form-control" required>      </td>
                               
                               <td> <input type="Text" class="form-control" id="Ticker_value"  placeholder="Ticker" required>      </td>
                               
                               <td> <select name="options_zone" id="Option_data_zone" class=" select2 btn dropdown-toggle" required>
                                          <option value="" selected="selected">Select option</option>
                                          <option value="1">American </option>
                                          <option value="0">European</option>
                                      </select></td>  
                              
                              <td> <select name="options_type" id="Option_type_data" class="btn dropdown-toggle" required>
                                           <option value="" selected="selected">Select option</option>
                                           <option value="1">Call Option</option>
                                           <option value="0"> Put Option</option>
                                       </select></td> 
                              
                              <td> <select id="Maturity" placeholder="Maturity" class="btn dropdown-toggle" required >
                                            <option value="" selected="selected">Select option</option>
                                       </select> </td>        
                              
                              <td> <input type="integer" class="form-control" id="Spotprice"  placeholder="Spot" required >      </td>
                              
                              <td> <div class="input-group">
                                      <input type="text" class="form-control" id="Strikeprice" placeholder="Strike" required>
                                      <div class="input-group-append">
                                        <button type="button" id="Strikeprice_button"  class="btn btn-secondary btn-md"> 
                                        <i class="fas fa-search" style="font-size:22px;" ></i> </button>
                                      </div>
                                    </div> </td>
                              
                              <td> <select id="List_of_Strikes" class="btn dropdown-toggle" required >
                                         <option value="" selected="selected">Select option</option>
                                    </select> </td> 
                              
                              <td> <input type="text" class="form-control" id="Volatility" placeholder="Volatility" required></td> 
 
                              <td> <input type="text" class="form-control" id="Interestrate" placeholder="Interest"required></td>                              
        
                               <td><input type="text" class="form-control" id="Bid_vol" placeholder="Bid vol" ></td>                               
                               
                               <td> <input type="text" class="form-control" id="Bid_price" placeholder="Bid" required > </td>
                               
                               <td> <input type="text" class="form-control" id="Ask_price" placeholder="Ask" required ></td>
                              
                              <td> <input type="text" class="form-control" id="Ask_vol" placeholder="Ask vol" ></td>

                               <td> <button type="button" class="btn btn-secondary btn-sm" id="Edit_button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">EDIT</button> </td>
                              
                              <td> <button type="button" onclick="remove_tr(this)" class="btn btn-secondary btn-sm" >Delete</button>  </td>
                        </tr> 
                  </tbody>         
            </table> 
              <div >
                  <button   type="button" id="bloom_refresh" class="btn btn-secondary btn-sm" style="margin-left:2240px;">Refresh</button>    
                  <button   type="submit" id="eu_option_button" class="btn btn-primary btn-md" style="margin-left:2px;">Calculate</button>  
                  <button   type="button" id="Page_Reload" onClick="window.location.reload();" class="btn btn-secondary btn-sm"  style="margin-left:2px;">Clear</button> 
             </div>
      </form> 
</div>    



<!-- display the Greeks of each option and the diplay the combined options greeks    --> 
<div class="container-fluid py-1">
   <div class="row">
            <div class="col-4 text-center">
                <Table class="table table-striped"   id="price_display_datatable" style="width:100%" >  </Table>
            </div>
            
            <div class="col-6 text-center">
                <table class="table table-striped">
                      <thead>
                         <tr>    
                            <th colspan="6" class="text-center"><B>ALL OPTIONS DATA</B></th>
                         </tr>
                         <tr>
                             <th class="text-center"> PRICE </th>
                             <th class="text-center"> BID VOL </th>
                             <th class="text-center"> BID PRICE </th>
                             <th class="text-center"> ASK PRICE</th>
                             <th class="text-center"> ASK VOL </th>
                         </tr>
                      </thead>
                     <tbody>      
                         <tr class="text-center">
                         <td><input type="text" id="option_td_value" class="form-control text-center" disabled ></td>
                         <td><input  type="text" id="Our_bid_vol" class="form-control text-center"  disabled ></td>                         
                         <td><input  type="text" id="Our_bid_price" class="form-control text-center"  disabled ></td>
                         <td><input  type="text" id="Our_ask_price" class="form-control text-center"  disabled></td>
                         <td><input  type="text" id="Our_ask_vol" class="form-control text-center"  disabled></td>
                         </tr>          
                     </tbody>
                 </table>        
             </div>
             
            <div class="col-2 text-center">
                <Table class="display cell-border hover compact stripe"  id="Currency_rates_display_datatable" style="width:100%" > </Table>
            </div>             
    </div>  
</div>

<!-- HTML CODE FOR DIVIDEND MODEL -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="Text-align: center;">UPDATE DIVIDEND</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

    <form method="POST"  id='Editform'>   
      <Table class="table Bodered" id="edit_table" > 
          <thead >
               <tr >
                   <TH style="Text-align: center;">DIVIDEND DATE </Th>
                   <TH style="Text-align: center;"> DIVIDEND </Th>
                   <tH>
                       <div class="input-group">
                        <input type="text" id="Percentage_Div" class="form-control"  >
                        <div class="input-group-append">
                          <button type="button" id="Percent_search" class="btn btn-secondary btn-md"> 
                          <i class="fas fa-search" style="font-size:22px;" ></i> </button>
                        </div>
                      </div>
                   </tH>
              </tr>
         </thead>
         <tbody id="Edit_table_body">
               <tr id="Edit_tr_row">
                  <td>
                        <input type="text" id="Div_date_edit" class="form-control" disabled>      
                  </td>
                  <td>
                        <input type="number" class="form-control" id="Div_rate_edit"  placeholder="Dividend" >      
                  </td>       
              </tr>          
         </tbody>      
      </table>            
    </form> 
        
      </div>
      <div class="modal-footer">
        <button type="button" id="Close_button" class="btn btn-secondary  btn-md" data-bs-dismiss="modal">Close</button>
        <button type="button" id="Update_button" class="btn btn-primary  btn-md">Update</button>
         <button type="button" id="Reset_button" class="btn btn-primary  btn-md">Reset</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
        var Currency_rates =  '';
        
        var market_spot    =  '';

        var div_date_array =  '';

        var divdata_array  =  '';

        var Reset_array    =  '';
 
var edit_divdata_array = [];

<!-- On click of edit button push the dividends data to edit_divdata_array -->
<!-- edit_divdata_array==0 means we didn't modified the dividend data or clicked the reset button -->
    if(edit_divdata_array.length==0){
       divdata_array= divdata_array
    }
    else{
        divdata_array= edit_divdata_array
    }

var maturity=document.getElementById("Maturity");

 
<!-- Funciton for Adding new row by cloning the previous row and also emptying the required newly cloned rows   --> 
$('#add_more_item').click(function(e) {
        let ticker_name=   document.getElementById("Ticker_value").value;
        
        if(ticker_name==''){
            alert("Enter the valid Ticker")
        }
        else{
            $latest_tr= $('#datatable tr:last');
            $clone= $latest_tr.clone();
            $latest_tr.after($clone);
            $clone.find('#Multiple').val('');
            $clone.find('#Strikeprice').val('');
            $clone.find('#Volatility').val(''); 
            $clone.find('#Bid_price').val('');  
            $clone.find('#Ask_price').val('');   
            $clone.find('#Volatility').val('');   
            $clone.find('#Bid_vol').val('');
            $clone.find('#Ask_vol').val('');
        }
 });
    
    
<!-- //Funciton for removing the table row  -->  
 function remove_tr(This) {
    if(This.closest('tbody').childElementCount == 1)
    {
        alert("You Don't have Permission to Delete This ?");
    }else{
        This.closest('tr').remove();
     }  
 }
    
  
<!-- //Code for on click of edit button you only create the required no of textfields depending upon the rows of data and append the data  -->    
 var row_count=[];   
 
$('#Edit_button').click(function(e) { 

    if(row_count.length<1)
    {
       for(i=0;i<(div_date_array.length)-1;i++)
       {
           $latest_tr= $('#edit_table tr:last');
           $clone= $latest_tr.clone();
           $latest_tr.after($clone);
           row_count.push(div_date_array[i]);
       }
}
         
//if loop to update the dispalying dividend array         
        if(edit_divdata_array.length==0){
           divdata_array= divdata_array
        }
        else{
            divdata_array= edit_divdata_array
        }                    
          
        $.each($("#Edit_table_body #Edit_tr_row"),function(){

           var Edit_row_index = $(this).closest('tr').index(); 

            for(i=0;i<div_date_array.length;i++)
            {
                if(Edit_row_index==i)
                {
                    $(this).find("#Div_date_edit").val(div_date_array[i])
                    $(this).find("#Div_rate_edit").val(divdata_array[i])
                } 
            }
        }); 
});   
 
 
 
<!-- Code for dividend data as percentage of input  -->   
$('#Percent_search').click(function(e) {
   var Per_input = document.getElementById("Percentage_Div").value;
   new_percnt_div=[] 
      
   new_percnt_div.length=0;
        
        for(i=0; i<divdata_array.length;i++){
        
            new_percnt_div.push((Per_input*divdata_array[i])/100);
        }
        
     $.each($("#Edit_table_body #Edit_tr_row"),function(){
    
         var Edit_row_index = $(this).closest('tr').index(); 
         
         for(i=0;i<new_percnt_div.length;i++)
         {
             if(Edit_row_index==i)
             {
                 $(this).find("#Div_rate_edit").val(new_percnt_div[i])
             } 
         }
     }); 
});
   
    
    
<!-- Code for updating the details in Edit modal       -->   
$('#Update_button').click(function(e) { 
       edit_divdata_array.length=0;
       $.each($("#Edit_table_body #Edit_tr_row"),function()
       {
               edit_divdata_array.push($(this).find("#Div_rate_edit").val())
       });
});
         
            
 
<!-- Code to reset the details in Edit modal-->  
 $('#Reset_button').click(function(e) { 
 
        edit_divdata_array.length=0;
         
        document.getElementById("Percentage_Div").value=''

        $.each($("#Edit_table_body #Edit_tr_row"),function(){ 
        
        var Edit_row_index = $(this).closest('tr').index(); 
            
            for(i=0;i<div_date_array.length;i++)
            {
                if(Edit_row_index==i)
                {
                    $(this).find("#Div_rate_edit").val(Reset_array[i])
<!-- Since the reset button is making the divdata_array as zero. So,i am appending the Reset_array to divdata_array to solve this issue -->
                    divdata_array=Reset_array;
                } 
            }
       }); 
 });   
 
 
 
  
<!-- Code to make all the input fields of spot_price as same-->  
$('#Spotprice').on('keyup', function() {
      
     var new_spot_price=  document.getElementById("Spotprice").value;

     $.each($("#table_body #tr_row"),function(){                 
          $(this).find("#Spotprice").val(new_spot_price);
     }); 
});

 
 
 
 
<!--Submitting the data to the python on clicking the calculate button

--> 
document.getElementById('postForm').addEventListener('submit', getJsonData);

 function getJsonData(e){
      
       var display_row_count=[];  
       
              e.preventDefault();
              var arrayItem = [];
              
                if(edit_divdata_array.length==0){
                   divdata_array= divdata_array
                }
                else{
                    divdata_array= edit_divdata_array
                }
//This helps to convert if any string present in dividend array to float values                
             divdata_array = divdata_array.map(Number);

             $.each($("#table_body #tr_row"),function(index,value){
             
                let D_multiple=             parseInt($(this).find("#Multiple").val())
                let D_ticker=               $(this).find("#Ticker_data").val()
                let D_option_zone=          parseInt($(this).find("#Option_data_zone").val())
                let D_option_type=          parseInt($(this).find("#Option_type_data").val())
                let D_spot_price=           parseFloat($(this).find("#Spotprice").val())
                let D_strike_price=         parseFloat($(this).find("#Strikeprice").val())
                let D_volatility=           parseFloat($(this).find("#Volatility").val())
                let D_maturity=             $(this).find("#Maturity").val()
                let D_dividend_Date=        div_date_array
                let D_dividend_rate=        divdata_array
                let D_interest_rate=        parseFloat($(this).find("#Interestrate").val())
                let D_bid_price=            parseFloat($(this).find("#Bid_price").val())
                let D_ask_price=            parseFloat($(this).find("#Ask_price").val())
            
                let item= {
                    Multiple :              D_multiple,
                    Ticker_data :           D_ticker,
                    Option_data_zone :      D_option_zone,
                    Option_type_data :      D_option_type,
                    Spotprice :             D_spot_price,
                    Strikeprice :           D_strike_price,
                    Volatility :            D_volatility,
                    Maturity :              D_maturity,
                    Dividend_date :         D_dividend_Date,
                    Dividend :              D_dividend_rate,
                    Interestrate :          D_interest_rate,
                    Bid_price :             D_bid_price,
                    Ask_price :             D_ask_price,
                    Market_spot :           market_spot
                }
                   arrayItem.push(item)
            });
            
//alert( JSON.stringify(arrayItem) )
                 
//creating an XMLHttpRequest
          const xhr= new XMLHttpRequest();
          xhr.open('post','/Blackscholes_model_form',true);  
          xhr.setRequestHeader('content-type','application/json');
          var Spinner=  '<div class="spinner-border" role="status"> <span class="sr-only"></span></div> Loading.... ' 
          $('#eu_option_button').html(Spinner);    
          
       xhr.onload = function(){
            $('#eu_option_button').text('Calculate');
            var new_data=JSON.parse(this.responseText);
            var display_array= new_data.display_options_data 
            var Adj_Bid= new_data.Adj_Bid
            var Adj_Ask= new_data.Adj_Ask
            var Adj_Bid_vol= new_data.Adj_Bid_vol
            var Adj_Ask_vol= new_data.Adj_Ask_vol
<!-- On calculate success displaying the our_bid, our_ask, final_options_value -->            
            document.getElementById('market_spot_input').value= market_spot
            document.getElementById('Our_bid_price').value=  parseFloat(new_data.Our_Adj_Bid).toFixed(2)
            document.getElementById('Our_ask_price').value=  parseFloat(new_data.Our_Adj_Ask).toFixed(2)
            document.getElementById('option_td_value').value= parseFloat(new_data.Final_our_option_price).toFixed(2)
            document.getElementById('Our_bid_vol').value= parseFloat(new_data.Sum_Adj_Bid_vol).toFixed(2)
            document.getElementById('Our_ask_vol').value= parseFloat(new_data.Sum_Adj_Ask_vol).toFixed(2)
            
            $.each($("#table_body #tr_row"),function(){
                        
            var table_row = $(this).closest('tr').index(); 
                                  
                for(i=0;i<=Adj_Bid.length;i++){
                
                    if(table_row==i){
                        $(this).find("#Bid_price").val(Adj_Bid[i])
                        $(this).find("#Ask_price").val(Adj_Ask[i])
                        $(this).find("#Bid_vol").val(Adj_Bid_vol[i])
                        $(this).find("#Ask_vol").val(Adj_Ask_vol[i])
                    }
                }
           }); 
                         
//Datatable for displaying the option prices and greeks
         $(document).ready(function () {
                $('#price_display_datatable').DataTable({
                       info: false,
                       paging: false,
                       searching: false,
                       destroy: true,
                       ordering: false,
                       data: display_array,
                       columns: [
                           { title: 'PRICE' },
                           { title: 'DELTA' },
                           { title: 'GAMMA' },
                           { title: 'VEGA' },   
                       ], 
               });
          });

      }
    xhr.send(JSON.stringify(arrayItem));   
}
      
                         
<!--ON SEARCH BUTTON CLICK MAKE AN AJAX CALL FOR SENDING THE DIVIDEND AND SPOT PRICES AND LOAD HARDCODED MATURITY DATE ARRAY ALSO -->
$('#Ticker_search_button').click( function() {
     
        let ticker_name=   document.getElementById("ticker_data").value;
        
        if(ticker_name==''){
           alert("Enter the Ticker")
        }
        else{

            Maturity_array= ['Select Maturity','12/16/22', '01/20/23', '02/17/23', '03/17/23', '04/21/23', '05/19/23', '06/16/23', '07/21/23', '08/18/23', '09/15/23', '10/20/23', '11/17/23', '12/15/23', '01/19/24', '02/16/24', '03/15/24', '04/19/24', '05/17/24', '06/21/24', '07/19/24', '08/16/24', '09/20/24', '10/18/24', '11/15/24', '12/20/24', '01/17/25', '02/21/25', '03/21/25', '04/18/25', '05/16/25', '06/20/25', '07/18/25', '08/15/25', '09/19/25', '10/17/25', '11/21/25', '12/19/25']
            
           $("#Maturity").html('');     

            const xhr= new XMLHttpRequest();
            xhr.open('post','/Blackscholes_bloomberg_apicall',true);  
            xhr.setRequestHeader('content-type','application/json');
            var Spinner=  '<div class="spinner-border" role="status"> <span class="sr-only"></span></div> Loading.... ' 
            $('#Ticker_search_button').html(Spinner);    
             
            xhr.onload = function(){
             
                try{
                     var new_data=JSON.parse(this.responseText);
                          $('#Ticker_search_button').text('Search');
                          $("#Dividend_date").html(''); 
                          
//appending the dividend and divdate to thier respective arrays                        
                          div_date_array =  new_data.Dividend_date;
                          divdata_array =  new_data.Dividend_rate;
                          Reset_array =  new_data.Dividend_rate;
                          document.getElementById('market_spot_input').value= new_data.Spot_price
                          Currency_rates = new_data.Final_display_array;
                          
//Emptying the alloption data textfields on successful search of the ticker 
                         document.getElementById('Our_bid_price').value= ''
                         document.getElementById('Our_ask_price').value= ''
                         document.getElementById('option_td_value').value= '' 
                         document.getElementById('Our_bid_vol').value= ''
                         document.getElementById('Our_ask_vol').value=  ''                                           
                          
//Datatable for displaying the currency rates
                          $(document).ready(function () {
                                 $('#Currency_rates_display_datatable').DataTable({
                                        info: false,
                                        paging: false,
                                        searching: false,
                                        destroy: true,
                                        ordering: false,
                                        data: Currency_rates,
                                        columns: [
                                            { title: 'TENOR' },
                                            { title: 'NO OF DAYS' },
                                            { title: 'INTEREST RATE' },  
                                        ], 
                                });
                           }); 
    
//Append the maturities to the dropdown                      
                       for(var i = 0; i < Maturity_array.length; i++) {
                            var opt = Maturity_array[i];
                            var el = document.createElement("option");
                             el.textContent = opt;
                            el.value = opt;
                            maturity.appendChild(el);
                        }  
                     
//for appending the value to the html element and THIS IS FOR WHEN YOU ENTER NEW TICKER THE FIELDS OF STRIKE AND LIST OF STRIKES WILL BECOME EMPTY 
                         $.each($("#table_body #tr_row"),function(){
                             $(this).find("#Ticker_value").val(new_data.Ticker)                 
                             $(this).find("#List_of_Strikes").val('')
                             $(this).find("#Strikeprice").val('')
                             $(this).find("#Ask_price").val('')
                             $(this).find("#Bid_price").val('') 
                             $(this).find("#Volatility").val('')  
                             $(this).find("#Bid_vol").val('')
                             $(this).find("#Ask_vol").val('')    
                             $(this).find("#Spotprice").val('') 
                             $(this).find("#Interest_Rate_value").val('')       
                           });                                          
                }catch(e){
                
//Append the maturities to the dropdown                      
                     for(var i = 0; i < Maturity_array.length; i++) {
                           var opt = Maturity_array[i];
                           var el = document.createElement("option");
                            el.textContent = opt;
                           el.value = opt;
                           maturity.appendChild(el);
                     }  
               
                    $.each($("#table_body #tr_row"),function(){
                        $(this).find("#Ticker_value").val('')
                    });
                    
                    $('#Ticker_search_button').text('Search');
                    document.getElementById('ticker_data').value=''
                    alert("Please Enter a Valid Ticker")
                } 
          }     
        xhr.send(JSON.stringify(ticker_name));  
               
      }       
 }); 
 
 
<!----- Getting the interest rate using the maturity ---------->
$(document).on('change','#Maturity', function() {

            var index= $(this).closest('tr').get(0).rowIndex;
            
            let IR_Maturity_date = ''
            
            $.each($("#table_body #tr_row"),function(){
                 var strike_box = $(this).closest('tr').index()+1; 
                              
                 if(strike_box==index){         
                       IR_Maturity_date =   $(this).find("#Maturity").val()
                    }
             });
              
              var Maturity_items_array=[]
              let Maturity_items= {
                             Maturity_data :   IR_Maturity_date,
                             Interest_Rate :    Currency_rates,
                              }
                        Maturity_items_array.push(Maturity_items)              

              const xhr= new XMLHttpRequest();
              xhr.open('post','/Blackscholes_bloomberg_Get_interest_rate',true);  
              xhr.setRequestHeader('content-type','application/json');
              xhr.onload = function(){
                    
                    var new_data=JSON.parse(this.responseText);
                    var Interest_Rate_value= new_data.New_Interest_value;
                       
                    $.each($("#table_body #tr_row"),function(){
    
                          var strike_box = $(this).closest('tr').index()+1; 
                                     
                           if(strike_box==index){
                                $(this).find("#Interestrate").val(parseFloat(Interest_Rate_value).toFixed(4))
                           }                        
                  });       
             }
         xhr.send(JSON.stringify(Maturity_items_array));                       
}); 
     
     
     
 
<!-- AJAX CALL FOR SENDING THE STRIKE, TICKER AND RECEIVING THE LIST_OF_STRIKES  -->
$(document).on('click','#Strikeprice_button', function() {

   let Strikeprice_search_button=   document.getElementById("Strikeprice").value;
        
   if(Strikeprice_search_button==''){
        alert("Enter the strike")
   }
   else{
            var index= $(this).closest('tr').get(0).rowIndex;
         
            let Py_ticker_name, Py_Maturity_date, Py_type, Py_strike = 0
            
            Py_ticker_name =     document.getElementById('ticker_data').value;
            
            $.each($("#table_body #tr_row"),function(){
                 var strike_box = $(this).closest('tr').index()+1; 
                              
                 if(strike_box==index){         
     
                        Py_Maturity_date =   $(this).find("#Maturity").val()
                        Py_type =            $(this).find("#Option_type_data").val()
                        Py_strike =          $(this).find("#Strikeprice").val()
                             
                        if(Py_type==1){
                            Py_type='C';
                        }
                        else{
                            Py_type='P';
                        }
                    }
             });
             
              var strike_value= Py_Maturity_date + ' ' + Py_type + Py_strike + ' ' + 'Equity';
              
              var Strike_array=[]
              
              let Strike_item= {
                             Strike_value  :   strike_value,
                             Ticker_name   :   Py_ticker_name,
                             Maturity_data :   Py_Maturity_date,
                              }
                        Strike_array.push(Strike_item)              
                 
//OPTION STRIKES API CONNECTION 
       
              const xhr= new XMLHttpRequest();
              xhr.open('post','/Blackscholes_bloomberg_strikecall',true);  
              xhr.setRequestHeader('content-type','application/json');
              $.each($("#table_body #tr_row"),function(){
                  var strike_box = $(this).closest('tr').index()+1;                
                  if(strike_box==index){     
                       var Spinner=  '<div class="spinner-border" role="status"> <span class="sr-only"></span></div> ' 
                       $(this).find("#Strikeprice_button").html(Spinner);                                                                        
                 }                        
            });
         
              xhr.onload = function(){
                     
                    var new_data=JSON.parse(this.responseText);
                        
                    var Bloom_api_strikes= new_data.Bloom_option_strikes_result;
                       
                    $.each($("#table_body #tr_row"),function(){
    
                          var strike_box = $(this).closest('tr').index()+1; 
                                     
                           if(strike_box==index){
                               $(this).find("#Strikeprice_button").html('<i class="fas fa-search" style="font-size:22px;" aria-hidden="true"></i>');  
                                $List_of_Strikes_datafield =  $(this).find("#List_of_Strikes")
                                  
                                $List_of_Strikes_datafield.html('');
                                   
                                for (var i = 0; i < Bloom_api_strikes.length; i++) {
                                      var $data = $("<option>", {
                                      value: Bloom_api_strikes[i],
                                      }).text(Bloom_api_strikes[i]);
                                           
                                      $List_of_Strikes_datafield.append($data);
                                };                                                            
                           }                        
                  });       
             }
         xhr.send(JSON.stringify(Strike_array));   
     }    
});

 
<!--ON CHANGE OF LIST_OF_STRIKES HOW TO UPDATE THE BID AND ASK AND VOLATILITY VALUES FROM BLOOMBERG DIRECTLY -->
$(document).on("change","#List_of_Strikes",function bid_ask_adding(e){ 
           
        var arrayItem=[]
           
        var index= $(this).closest('tr').get(0).rowIndex;
           
        $.each($("#table_body #tr_row"),function(){
            
            var strike_box = $(this).closest('tr').index()+1; 
                             
            if(strike_box==index){         
                var app_strike_value= $(this).find("#List_of_Strikes").val()
                var ticker_name=    $(this).find("#Ticker_value").val();
                      
                let item= {
                        strikes_list : app_strike_value,
                        ticker_name  : ticker_name
                    }
                    arrayItem.push(item)                                 
             }    
        }); 
            
        const xhr= new XMLHttpRequest();
        xhr.open('post','/Blackscholes_bloomberg_bid_ask',true);  
        xhr.setRequestHeader('content-type','application/json');
   
        xhr.onload = function(){
           
           try{
                  var new_data=JSON.parse(this.responseText);
                  if(xhr.status == 200) { 

                             market_spot= new_data.Strike_price_value
                  
                             $.each($("#table_body #tr_row"),function(){
                                         
                                  var strike_box = $(this).closest('tr').index()+1; 
                                                   
                                  if(strike_box==index){
                                               
                                           $(this).find("#Bid_price").val(new_data.Bid_price)
                                           $(this).find("#Ask_price").val(new_data.ASK_Price)
                                           $(this).find("#Volatility").val(new_data.Vol_value)
                                           $(this).find("#Bid_vol").val('')
                                           $(this).find("#Ask_vol").val('')
                                  }    
                             });  
                   } 
                   else {
                          alert("complete data is not present for this current strike");
                            
                          $.each($("#table_body #tr_row"),function(){
                                
                                 var strike_box = $(this).closest('tr').index()+1; 
                                          
                                 if(strike_box==index){                             
                                        $(this).find("#Bid_price").val('')
                                        $(this).find("#Ask_price").val('')
                                        $(this).find("#Volatility").val('')
                                 }    
                         });
                    }     
           }
           catch(e){
                       $.each($("#table_body #tr_row"),function(){
                                 
                            var strike_box = $(this).closest('tr').index()+1; 
                                           
                             if(strike_box==index){                             
                                         $(this).find("#Bid_price").val('')
                                         $(this).find("#Ask_price").val('')
                                         $(this).find("#Volatility").val('')
                             }    
                       });    

                   alert("complete data is not present for this current strike");
           }  
               
        };
     xhr.send(JSON.stringify(arrayItem));         
});

 
<!-- ON REFRESH BUTTON CLICK GET THE LATEST BID, ASK, VOLATILITY AND MARKET SPOT FROM BLOOMBERG -->
$(document).on('click','#bloom_refresh', function() {

    let ticker_name=   document.getElementById("Ticker_value").value;
        
    if(ticker_name==''){
            alert("Enter the valid Ticker")
     }
     else{

          var arrayItem=[]
    
          $.each($("#table_body #tr_row"),function(index,value){
                 
                 let strikes_list=  $(this).find("#List_of_Strikes").val()
                 let ticker_name=   document.getElementById("ticker_data").value;
                
                 let item= {
                        strikes_list : strikes_list,
                        ticker_name  : ticker_name
                }
              arrayItem.push(item)
          });
                     
//creating an XMLHttpRequest
         const xhr= new XMLHttpRequest();
         xhr.open('post','/Blackscholes_table_refresh',true);  
         xhr.setRequestHeader('content-type','application/json');
         var Spinner=  '<div class="spinner-border" role="status"> <span class="sr-only"></span></div> Loading' 
         $('#bloom_refresh').html(Spinner);         
              
         xhr.onload = function(){
            
             $('#bloom_refresh').text('Refresh');
             var new_data=JSON.parse(this.responseText);        
             var market_option_data= new_data.Option_market_values     
             market_spot= new_data.Strike_price_value
             document.getElementById('market_spot_input').value=market_spot
             document.getElementById('Our_bid_price').value= ''
             document.getElementById('Our_ask_price').value= ''
             document.getElementById('option_td_value').value= '' 
             document.getElementById('Our_bid_vol').value= ''
             document.getElementById('Our_ask_vol').value=  ''                  
                      
//console.log(market_option_data)
console.log(market_spot)
                      
             $.each($("#table_body #tr_row"),function(){
                                
                    var table_row = $(this).closest('tr').index(); 
                                          
                    for(i=0;i<=market_option_data.length;i++){
                        
                        if(table_row==i){
                                $(this).find("#Volatility").val(market_option_data[i][0])
                                $(this).find("#Bid_price").val(market_option_data[i][1])
                                $(this).find("#Ask_price").val(market_option_data[i][2])
                                $(this).find("#Bid_vol").val('')
                                $(this).find("#Ask_vol").val('')
                        }
                    }
             });               
        
        
         }
        xhr.send(JSON.stringify(arrayItem)); 
     }
});
 


 
</script>

{% endblock %}
